.bccLogo {
  width: 29px;
  height: 25px;
  border-radius: 6px;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.bccMember {
  background-color: rgba(200, 214, 229, 0.2);
  text-align: center;
  font-size: 1.2rem;
  padding-top: 1rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
