.divider {
  display: flex;
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}

.one-line:before, .one-line:after {
  background: black;
}

.razor:before, .razor:after {
  box-shadow: 0 0.5px 0 black;
}

.double-razor:before, .double-razor:after {
  height: 3px;
  box-shadow: 0 -0.5px 0 black, 0 0.5px 0 black;
  border-width: 0;
}

.glow:before, .glow:after {
  height: 6px;
  -webkit-filter: blur(5px);
  border-radius: 5px;
}
.glow:before {
  background: linear-gradient(to right, blue, hotpink);
}
.glow:after {
  background: linear-gradient(to left, blue, hotpink);
}

.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: black;
}
.gradient:before {
  background: linear-gradient(to right, white, black);
}
.gradient:after {
  background: linear-gradient(to left, white, black);
}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: #ffd500;
  color: black;
  height: 2em;
  line-height: 2em;
}
.donotcross:before, .donotcross:after {
  background: white;
  padding: 50px 0;
  height: 0;
  transform: rotate(45deg);
}
