ul > ul > li {
  list-style-type: square;
}

.descriptionTitle {
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
}

.descriptionWebsite {
  padding-left: 15px;
  font-size: 1.5em;
  font-style: italic;
}

.descriptionBackground {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.panelHeadingBottomBorder {
  border-bottom: 1px solid LightGrey !important;
}
