.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 auto;
}

.aviHeader {
  background-size: 24rem 31rem;
  /*margin: auto 0 auto 100px;*/
  margin: 0;
  background-image: url(../../images/kevin_final.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 28rem;
  width: 30rem;
}

@media screen and (max-width: 680px) {
  .introduction {
    flex-direction: column;
  }
  .aviHeader {
    width: 100%;
    margin: 0;
  }

}
