.sendMsgImg {
  width: 15rem;
  height: 15rem;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  margin:auto
}
.sendMsgTitle {
  text-align: center;
  margin-left: -3rem;
  margin-right: -3rem;
  font-family: Titillium Web, sans-serif;
}

.contactUsForm {
  padding: 0 15rem;
}

@media screen and (max-width: 680px) {
  .contactUsForm {
    padding: 0;
  }
}
