.sendMsgTitle {
  text-align: center;
  font-family: Titillium Web, sans-serif;
}

.contactUsForm {
  padding: 0 15rem;
}

@media screen and (max-width: 680px) {
  .contactUsForm {
    padding: 0;
  }
}
